body {
    margin: 0px, 20px;
    padding: 0px, 10px;
    background:linear-gradient(to right, #cdffd8, #94b9ff); 
}

header {
    padding: 20px;
    text-align: center;
    background: url(Backgrounds.png);   
}

h1{
    font-family: "Macondo", cursive;
    color: black;
    font-size: 72px;
    text-align: center;
    letter-spacing: 1em;
}

#shopCart {
    font-size: 40px;
    color: #333;
    float: right;
   
}    

h2 {
    font-family: 'Sansita Swashed', system-ui;
    color: black;
    font-size: 48px;
    text-align: center;
    margin: 0;
}



#inputBar{
    width: 250px;
    height: 30px;
    overflow: auto;
    background-color: azure;
    border-radius: 15px;
    margin: 0 auto; 
    border-color: black;
    color: #333;
    justify-content: center;
    align-items: flex;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
}

#searchButton{
   width: 150px;
   height: 30px;
   overflow: auto;
   background: azure;
   border-radius: 12px;
   border-color: black;
   justify-content: center;
   align-items: center;
   font-size: 26px;
   color: black;

   cursor: pointer;
}

.container{
    display: flex;
    justify-content: center, space-evenly;
}

#ruffoniButton {
   padding: 0px 0px 20px 0px;
}

#ruffoniButton, #mauvielButton, #greenpanButton, #allcladButton, #zwillingButton {
   width: 150px;
   height: 40px;
   overflow: auto;
   background: azure;
   border-radius: 15px;
   border-color: black;
   margin-top: 20px;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color:black;
   cursor: pointer;
}


#mauvielButton {
   width: 150px;
   height: 40px;
   overflow: auto;
   background: azure;
   border-radius: 15px;
   border-color: black;
   margin-top: 20px;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   color:black;
   cursor: pointer;
}

#greepanButton{
    width: 150px;
    height: 40px;
    overflow: auto;
    background: azure;
    border-radius: 15px;
    border-color: black;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:black;    
    cursor: pointer;
}

#allcladButton {
    width: 150px;
    height: 40px;
    overflow: auto;
    background: azure;
    border-radius: 15px;
    border-color: black;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:black;   
    cursor: pointer;
}

#zwillingButton {

    width: 150px;
    height: 40px;
    overflow: auto;
    background: azure;
    border-radius: 15px;
    border-color: black;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:black;
    cursor: pointer;
}

